[user]
  name = J. Ryan Stinnett
  email = jryans@gmail.com
  useConfigOnly = true
[color]
  ui = true
[diff]
# tool = bcompare
[difftool "bcompare"]
  cmd = bcompare $LOCAL $REMOTE
[difftool]
  prompt = false
[rebase]
  stat = true
  autoSquash = true
[alias]
  ci = commit
  edit = commit --amend
  amend = commit --amend --no-edit
  cp = cherry-pick
  lr = "!f(){ git rebase -i $(git merge-base $(git describe --contains --all HEAD) $1); }; f"
  st = status -sb
  d = diff
  dc = diff --cached
  hgp = "show --binary -M -C -U8 --format=\"# HG changeset patch%n# User %an <%ae>%n%B\""
  l = log
  l1 = log --oneline
  rc = rebase --continue
  au = add -u
  qr = qrebase
  msg = log -n 1 --pretty=format:%B
  nb = "!f(){ git checkout -b $1 $(git symbolic-ref --short refs/remotes/origin/HEAD); }; f"
  ch = checkout
[core]
  trustctime = false
  deltaBaseCacheLimit = 1g
  autocrlf = input
  untrackedCache = true
[branch]
  autosetupmerge = true
[push]
  default = current
[color "diff"]
  whitespace = red reverse
[rerere]
  enabled = true
[credential]
  helper = osxkeychain
[diff]
  algorithm = patience
  context = 8
  indentHeuristic = true
  colorMoved = default
  wsErrorHighlight = old,new
[fetch]
  prune = true
[merge]
  conflictStyle = diff3
[commit]
  cleanup = strip
[cinnabar]
	helper = /Users/jryans/Projects/git-cinnabar/git-cinnabar-helper
	version-check = 1664739774
[pull]
  rebase = true
[init]
	defaultBranch = main
[url "https://github.com"]
	insteadOf = git://github.com
[advice]
	addIgnoredFile = false
